<style>
  .continue-shopping svg {
    width: 8px;
    margin-right: 10px;
  }
</style>
<a href="{{ routes.all_products_collection_url }}" class="continue-shopping flex">
  {% render 'icon-chevron-left' %} <span class="underline uppercase font-euro font-extrabold">Continue shopping</span>
</a>