<!-- /templates/customers/addresses.liquid -->

<div class="section-header text-center">
    <h2>Your Addresses</h2>
    <p><a href="{{ routes.account_url }}">Return to Account Details</Details></a></p>
</div>

<div class="section-form text-center">
    <div class="container mx-auto py-50px">
        <div class="form-control">
            {% form 'customer_address', customer.new_address %}

            {{ form.errors | default_errors }}

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="first_name">First Name</label>
                    <input type="text" value="" name="address[first_name]" size="30" class="w-full" required/>
                </div>

                <div class="flex flex-col xct:w-full mb-5">
                    <label for="last_name">Last Name</label>
                    <input type="text" value="" name="address[last_name]" size="30" class="w-full" required/>
                </div>
            </div>

            <div class="flex flex-col mb-5">
                <label for="company">Company</label>
                <input type="text" value="" name="address[company]" class="w-full" />
            </div>

            <div class="flex flex-col mb-5">
                <label for="address1">Address 1</label>
                <input type="text" value="" name="address[address1]" required/>
            </div>

            <div class="flex flex-col mb-5">
                <label for="address2">Address 2</label>
                <input type="text" value="" name="address[address2]" />
            </div>

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="city">City</label>
                    <input type="text" value="" name="address[city]" />
                </div>

                <div class="flex flex-col xct:w-full mb-5">

                    <!-- See docs for @shopify/theme-addresses to support Country and Province -->
                    <label for="country">Country</label>
                    <select name="address[country]" /></select>
                </div>
            </div>

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="province">Province</label>
                    <select name="address[province]" /></select>
                </div>
                <div class="flex flex-col xct:w-full mb-5">
                    <label for="zip">Zip/Post Code</label>
                    <input type="text" value="" name="address[zip]" />
                </div>

            </div>

            <div class="flex flex-col mb-5">
                <label for="phone">Phone Number</label>
                <input type="tel" value="" name="address[phone]" />
            </div>

            <div class="flex mb-5">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">Set as default address</label>
            </div>

            <input type="submit" class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4" value="Add a New Address">

            {% endform %}
        </div>

    </div>
</div>
<style>
    .section-form label{
        font-weight: 700;
        text-align: left;
    }
    .form-control select,
    .form-control input[type="tel"]{
        border: 2px solid #dadada;
        height: 50px;
        padding-left: 15px;
    }
    .form-control input[type="checkbox"]{
        margin-right: 10px;
    }
</style>