<!-- /templates/customers/login.liquid -->
{{ 'login-signup.css' | asset_url | stylesheet_tag }}
{% render 'stripe-pattern' %}
<div class="container mx-auto pb-50px xct:pb-100px sign-in">
  {% form 'customer_login' %}
    {{ form.errors | default_errors }}
    <div class="form-control flex flex-col">
      <h3 class="text-xl uppercase xct:text-3xl leading-none border-b-2 border-wc-black pb-2 xct:pb-4 xct:border-b-3 mb-6">Reset Password</h3>
    </div>
    <div class="form-control flex flex-col">
      <label class="font-bold" for="customer_email">Email Address</label>
      <input type="email" name="customer[email]" id="customer_email" size="30" required placeholder="Enter email address" />
    </div>
    <div class="form-control flex flex-col mt-3 mb-6">
      <label class="font-bold" for="password">Password</label>
      <input type="password" value="" name="customer[password]" id="password" size="30" required placeholder="Enter password" />
    </div>
    <div class="form-control form-submit-container">
      <button type="submit" class="flex items-center justify-center bg-wc-yellow text-wc-black uppercase font-euro font-extrabold w-full hover:bg-wc-black hover:text-white transition lg:text-xl">Sign in {% render 'icon-chevron-right' %}</button>
    </div>
  {% endform %}

  <div class="form-control mt-3">
    <p><a href="#" class="reset-password underline hover:no-underline">Forgot password?</a></p>
    <div id="" class="form-reset-password hidden" style="display: none;">
      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <div class="form-success">
            We've sent you an email with a link to update your password.
          </div>
        {% endif %}
        <div class="form-control flex flex-col">
          <h3 class="text-xl uppercase xct:text-3xl leading-none border-b-2 border-wc-black pb-2 xct:pb-4 xct:border-b-3 mb-6">Reset Password</h3>
        </div>
        <div class="form-control flex flex-col">
          <label class="font-bold" for="email">Email Address</label>
          <input type="email" name="email" size="30" required placeholder="Enter email address" />
        </div>
        <div class="form-control form-submit-container mt-3">
          <button type="submit" class="flex items-center justify-center bg-wc-yellow text-wc-black uppercase font-euro font-extrabold w-full hover:bg-wc-black hover:text-white transition lg:text-xl">Submit {% render 'icon-chevron-right' %}</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const resetPasswordButton = document.querySelector(".reset-password");
    const resetPasswordForm = document.querySelector(".form-reset-password");
    const resetPasswordLink = document.querySelector(".reset-password-link");
    const formSuccess = document.querySelector("form-success");

    if (window.location.hash === "#recover-password") {
      resetPasswordForm.style.display = "block"; 
    }

    resetPasswordLink.addEventListener("click", function(event) {
      event.preventDefault();
      if (resetPasswordForm.style.display === "none") {
        resetPasswordForm.style.display = "block"; 
      } else {
        resetPasswordForm.style.display = "none";
      }
      document.querySelector(".modal-wrapper button").click();
    });
  
    resetPasswordButton.addEventListener("click", function(event) {
      event.preventDefault();
      if (resetPasswordForm.style.display === "none") {
        resetPasswordForm.style.display = "block"; 
      } else {
        resetPasswordForm.style.display = "none";
      }
    });

    if (window.location.hash === "#recover") {
      resetPasswordForm.style.display = "block"; 
    }

    if ( formSuccess ){
      resetPasswordForm.style.display = "block"; 
    }
  });
</script>
<style>
  .errors {
    text-align: center;
    margin-bottom: 60px;
    background: #ef4444;
    max-width: 500px;
    margin: 0 auto 60px;
    padding: 10px;
    color: #fee2e2;
  }
</style>