<!-- /templates/customers/reset_password.liquid -->
<div class="container mx-auto pb-50px xct:pb-100px sign-in">
  {% form 'reset_customer_password' %}
  
    {{ form.errors | default_errors }}

    <div class="form-control flex flex-col">
        <h3 class="text-xl uppercase xct:text-3xl leading-none border-b-2 border-wc-black pb-2 xct:pb-4 xct:border-b-3 mb-6">Reset Password</h3>
    </div>
  
    <div class="form-control flex flex-col">
      <label class="font-bold" for="password">Password</label>
      <input type="password" value="" name="customer[password]" size="16" required placeholder="Enter password"/>
    </div>
  
    <div class="form-control flex flex-col mt-3 mb-6">
      <label class="font-bold" for="password_confirmation">Password Confirmation</label>
      <input
        type="password"
        value=""
        name="customer[password_confirmation]"
        size="16"required placeholder="Enter password"
      />
    </div>
    
   <div class="form-control form-submit-container">
      <button type="submit" class="flex items-center justify-center bg-wc-yellow text-wc-black uppercase font-euro font-extrabold w-full hover:bg-wc-black hover:text-white transition lg:text-xl">Reset Password {% render 'icon-chevron-right' %}</button>
    </div>
  
  {% endform %}
</div>