<style>
  .brands-block .each-brand-block {
    width: 270px;
    height: 270px;
    background-color: #f2f3f5;
    border: 10px solid #f2f3f5;
  }

  .brands-block .each-brand-block:hover {
    border-image: url(/assets/pattern-271.jpg) 10 round;
  }

  .brands-block .wc-btn {
     width: 169px;
     height: 44px;
  }

  .brands-block .each-brand-block:hover .wc-btn {
     display: block;
  }
</style>
<div class="container mx-auto grid grid-cols-1 gap-30px justify-items-center pb-50px xct:pb-100px md:grid-cols-2 lg:grid-cols-3 xct:grid-cols-4 xct:justify-items-start">
  {% for block in section.blocks %}
    <a class="each-brand-block flex items-center justify-center relative flex-col transition" href="{{ block.settings.brand_collection_url }}">
      <img src="{{ block.settings.logo | img_url: 'master' }}" alt="{{ block.settings.logo.alt }}">
      <button class="uppercase wc-btn wc-btn-yellow mt-8 text-sm hidden">{{ block.settings.button_text }}</button>
    </a>
  {% endfor %}
</div>
{% schema %}
{
  "name":"Brands blocks",
  "tag":"section",
  "class":"brands-block",
  "blocks":[
     {
        "name":"Brands Block",
        "type":"brands_block",
        "settings":[
           {
              "type":"image_picker",
              "id":"logo",
              "label":"Brand Logo"
           },
           {
              "type":"text",
              "id":"button_text",
              "label":"Button Text",
              "default": "View Products"
           },
           {
              "type":"url",
              "id":"brand_collection_url",
              "label":"Brand Collection URL"
           }
        ]
     }
  ],
  "presets":[
     {
        "name":"Brands Blocks"
     }
  ],
  "templates":[
     "page"
  ]
}
{% endschema %}