<style>
  .hero-slider {
    max-width: 1920px;
  }
</style>
<div class="hero-slider mx-auto">
  <p>Home Hero</p>
  {% assign counter = 0 %}
  {% for block in section.blocks %}
    {% assign counter = counter | plus: 1 %}
    
    <p>0{{ counter }} / 0{{ section.blocks.size }}</p>
  {% endfor %}
  
</div>
{% schema %} 
{
  "name":"Home Hero",
  "tag":"section",
  "class":"home-hero",
  "max_blocks":3,
  "settings":[
     {
        "type":"html",
        "id":"mobile_hero_title",
        "label":"Mobile Hero Title"
     },
     {
        "type":"text",
        "id":"mobile_button_title",
        "label":"Mobile Hero Button Title"
     },
     {
        "type":"url",
        "id":"mobile_button_link",
        "label":"Mobile Hero Button Title"
     },
     {
        "type":"image_picker",
        "id":"mobile_hero_image",
        "label":"Mobile Hero Image"
     }
  ],
  "blocks":[
     {
        "name":"Hero Slider",
        "type":"hero_slider",
        "settings":[
           {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
           },
           {
              "type":"html",
              "id":"slide_title",
              "label":"Slide Title"
           },
           {
              "type":"html",
              "id":"slide_right_text",
              "label":"Slide Right Texts"
           },
           {
              "type":"text",
              "id":"button_title",
              "label":"Slide Button Title"
           },
           {
              "type":"url",
              "id":"slide_button_url",
              "label":"Slide Button Link"
           }
        ]
     }
  ]
}
{% endschema %}
