<style>
  .cta-section .wc-btn {
    bottom: 30px;
    left: 25px;
  }
  .cta-section .cta-last .wc-btn {
    left: auto;
    right: 50px;
  }

  @media screen and (min-width: 1024px) {
      .cta-section .wc-btn {
        bottom: 55px;
        left: 40px;
      }
      .cta-section .cta-last .wc-btn {
        right: 83px;
      }
    }
</style>
<div class="container mx-auto md:flex lg:justify-between pb-35px xct:pb-50px">
  {% for block in section.blocks %}
      {% if block.type == 'cta_image' %}
      
         <div class="relative block {% cycle '', 'mt-4 md:mt-0 md:ml-4 xct:ml-0 cta-last' %}">
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" loading="lazy">
            <a href="{{ block.settings.cta_link }}" class="absolute bg-wc-yellow text-wc-black transition hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center wc-btn wc-btn-yellow uppercase text-sm lg:text-xl">
              {{ block.settings.button_text }} {% render 'icon-chevron-right' %}
            </a>
         </div>
      
      {% endif %}
   {% endfor %}
</div>

{% schema %} 
{
  "name":"CTA",
  "tag":"section",
  "class":"cta-section relative",
  "max_blocks": 2,
  "blocks":[
     {
        "name":"CTA",
        "type":"cta_image",
        "settings":[
           {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
           },
           {
            "type":"text",
            "id":"button_text",
            "label":"Button Text"
           },
           {
            "type":"url",
            "id":"cta_link",
            "label":"CTA Link"
           }
        ]
     }
  ]
}
{% endschema %}