<div class="container mx-auto pt-50px xct:pt-100px font-euro text-xl uppercase">
  {{ section.settings.short_summary }}
</div>
{% schema %} 
{
  "name":"Left Text Right Image",
  "settings": [
    {
      "type":"textarea",
      "id":"left_text",
      "label":"Left Text"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    }
  ],
  "presets": [
     {
       "name": "Left Text Right Image"
     }
  ],
  "templates": [
     "page"
  ]
}
{% endschema %}