<div class="container mx-auto pt-50px xct:pt-100px font-euro text-xl uppercase">
  <h3>{{ section.settings.short_summary }}</h3>
</div>
{% schema %} 
{
  "name":"About Short Summary",
  "settings": [
    {
      "type":"textarea",
      "id":"short_summary",
      "label":"Short Summary"
    }
  ],
  "presets": [
     {
       "name": "About Short Summary"
     }
  ],
  "templates": [
     "page"
  ]
}
{% endschema %}