<style>
  .faqs-container {
    max-width: 970px;
  }
  .question svg {
    fill: var(--yellow);
    max-width: 10px;
  }
</style>
<div class="container mx-auto pb-50px xct:pb-20 faqs-container">
  <h3 class="uppercase text-2xl border-b-3 border-wc-black pb-5">{{ section.settings.group_title }}</h3>
  <div class="sizeguide">
    {% for block in section.blocks %}
      {% if block.type == 'guide_block' %}
        <div class="py-6">
          <div class="question flex justify-between items-center hover:cursor-pointer">
            <h4 class="font-campton text-lg font-bold">{{ block.settings.each_block_title }}</h4>
          </div>
          
          <div class="offset-anchor" id="{{ block.settings.size_guide_brand_title | downcase | replace: " ", "-" }}"> </div>
          <div class="answer transition" >
            {{ block.settings.each_block_content }}
          </div>
        </div>
        
      {% endif %}
    {% endfor %}
  </div>
</div>


{% schema %} 
{
  "name":"Size Guide Title",
  "settings": [
    {
      "type":"text",
      "id":"group_title",
      "label":"Group Title"
     }
  ],
  "blocks": [
    {
      "name": "Table Size Guide",
      "type": "guide_block",
      "settings": [
        {
          "type": "text",
          "id": "size_guide_brand_title",
          "label": "Brand"
        },
        {
          "type": "html",
          "id": "each_block_content",
          "label": "Table"
        }
      ]
    }
  ],
  "presets": [
     {
       "name": "Size Guide"
     }
  ],
  "templates": [
     "page"
  ]
}
{% endschema %}
