
<script src="{{ 'accordion.js' | asset_url }}" defer></script>
<div class="container mx-auto py-9 xct:pt-100px xct:pb-20">
  <h2 class="text-center uppercase text-3xl">{{ section.settings.faqs_title }}</h2>
</div>
{% schema %} 
{
  "name":"FAQs",
  "settings": [
    {
      "type":"text",
      "id":"faqs_title",
      "label":"Frequently Asked Questions",
      "default": "Frequently Asked Questions"
     }
  ]

}
{% endschema %}