<style>
  .cart-image-td img {
    width: 90px;
    height: 90px;
    padding: 10px;
  }

  .cart-image-td {
    max-width: 380px;
  }
  .item-details {
    max-width: 215px;
  }

  .cart-title-table table {
    width: 750px;
  }

  .cart-summary {
    background-color: #f3f4f6;
  }

  .cart-summary h3,
  .cart-summary--subtotal {
    border-bottom: 1px solid #d8d8d8
  }

  .cart-summary h4,
  .cart-summary-total span {
    color: #a7a7a7;
  }

  .cont-update {
    max-width: 835px;
  }

  @media screen and (min-width: 768px) {
    .cart-title-table table {
      width: 830px;
    }
  }

  @media screen and (min-width: 1024px) {
    .cart-title-table table {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 1170px) {
    
    .td-price {
      width: 120px;
    }
    .td-qty {
      width: 100px
    }

    .td-qty input {
      height: 40px;
      max-width: 55px;
    }

    .td-total-price {
      width: 130px;
    }

    .cart-title-table table {
      width: 830px;
    }

    .cart-title-table {
      max-width: 830px;
    }

    .cart-summary {
      width: 270px;
    }
  }
</style>
{% render 'stripe-pattern' %}
{% if cart.item_count > 0 %}
<div class="container mx-auto py-8 xct:py-20"
  x-data="{
    updateCart() {
      fetch('/?view=cart')
      .then(response => response.text())
      .then(cartData => {
        $refs.cart_content.innerHTML = cartData;
      })
    }
  }"
  @cart-updated.window="updateCart"
  >
  <div x-ref="cart_content">
    {% render 'cart-form' %}
  </div>
</div>
{% else %}
  <div class="container mx-auto h-60 my-4 flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-3xl my-4 uppercase">
        Your cart is empty
      </h1>
      <div class="my-4 ">
        <a href="{{ routes.all_products_collection_url }}" class="wc-btn wc-btn-yellow bg-wc-yellow uppercase p-4 transition hover:bg-wc-black hover:text-wc-yellow">Continue shopping</a>
      </div>
    </div>
  </div>
  
{% endif %}