
<script src="{{ 'accordion.js' | asset_url }}" defer></script>
<div class="container mx-auto py-9 xct:pt-100px xct:pb-20">
  <h2 class="text-center uppercase text-3xl">{{ section.settings.size_guide_title }}</h2>
</div>
{% schema %} 
{
  "name":"Size Guide",
  "settings": [
    {
      "type":"text",
      "id":"size_guide_title",
      "label":"Size Guide",
      "default": "Size Guide"
     }
  ]

}
{% endschema %}