
{{
  'sizeguide.css' | asset_url | stylesheet_tag
}}
<div class="container mx-auto py-9 xct:pt-100px xct:pb-20">
  <h2 class="text-center uppercase text-3xl">{{ section.settings.size_guide_title }}</h2>
  <p class="sizeguide-back-link text-center uppercase cursor-pointer hidden"><small>← Go Back</small></p>
</div>
{% schema %} 
{
  "name":"Size Guide",
  "settings": [
    {
      "type":"text",
      "id":"size_guide_title",
      "label":"Size Guide",
      "default": "Size Guide"
     }
  ]

}
{% endschema %}

<script>
function hasPreviousPage() {
  return window.history.length > 1;
}

function toggleGoBackButton() {
  const goBackButtons = document.querySelectorAll('.sizeguide-back-link');
  
  goBackButtons.forEach(button => {
    if (hasPreviousPage()) {
      button.style.display = 'block';
    } else {
      button.style.display = 'none';
    }
  });
}

window.addEventListener('load', toggleGoBackButton);
window.addEventListener('popstate', toggleGoBackButton);

const container = document.querySelector('.container');
container.addEventListener('click', function(event) {
  if (event.target.classList.contains('sizeguide-back-link')) {
    console.log('test');
    window.history.back();
  }
});
</script>