<h2>{{ section.settings.faqs_title }}</h2>
{% schema %} 
{
  "name":"FAQs",
  "settings": [
    {
      "type":"text",
      "id":"faqs_title",
      "label":"Frequently Asked Questions",
      "default": "Frequently Asked Questions"
     }
  ]

}
{% endschema %}