.cart-notice{background-color: rgb(247, 121, 29) !important;
      color: rgb(0, 0, 0) !important;
    border: 3px solid rgb(237, 204, 44);
            border-left:3px solid rgb(237, 204, 44) !important;
             
    border-radius: 10px;}
.cart-notice svg{display:none;}
.cart-notice .notice-info{
       color: #fff;
    margin: auto;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}

@media screen and (max-width: 767px) {
  .cart-title-table table {
    border: 0;
    width: 100% !important;
  }

  .cart-title-table table caption {
    font-size: 1.3em;
  }
  
  .cart-title-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .cart-title-table table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .cart-title-table table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .cart-title-table table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .cart-title-table table td:last-child {
    border-bottom: 0;
  }

  .cart-title-table .cart-image-td {
    max-width: 100%;
    padding-top: 16px;
  }
  .cart-title-table  .item-details {
      max-width: 100%;
      flex: 1;
  }
}