.form-control {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.form-control input[type=text],
.form-control input[type=password],
.form-control input[type=email] {
  border: 2px solid #dadada;
  height: 50px;
  padding-left: 15px;
}

.form-submit-container svg {
  width: 10px;
  margin-left: 10px;
}

.form-submit-container button:hover svg {
  fill: white;
}

.form-submit-container button {
  height: 55px;
}

.tab-wrapper form,
.sign-in form,
.sign-up form{
  margin-top: 55px;
}

.form-checkbox label {
  color: #afafaf;
}

.form-checkbox label a {
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .form-submit-container svg {
    width: 13px;
  }
}

.form-reset-password form{
  margin-top: 10px;
}
.form-reset-password .errors{
  margin-bottom: 10px;
}