@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'CamptonBook';
    src: url('./campton-book-webfont.woff2');
  }
  @font-face {
    font-family: 'CamptonBook';
    src: url('./campton-medium-webfont.woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: 'CamptonBook';
    src: url('./campton-semibold-webfont.woff2');
    font-weight: 600;
  }
  @font-face {
    font-family: 'CamptonBook';
    src: url('./campton-bold-webfont.woff2');
    font-weight: 700;
  }
  @font-face {
    font-family: 'CamptonBook';
    src: url('./campton-black-webfont.woff2');
    font-weight: 800;
  }
  @font-face {
    font-family: 'Eurostile';
    src: url('./eurostile.woff2');
  }
  @font-face {
    font-family: 'Eurostile';
    src: url('./eurostile-bold.woff2');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Eurostile';
    src: url('./eurostile-black.woff2');
    font-weight: 800;
  }
}

body {
  font-family: 'CamptonBook';
}

.container {
  max-width: 1170px;
  @apply px-4 xl:px-0;
}

h1, h2, h3, h4, h5, h6,
.wc-btn {
  font-family: 'Eurostile';
  @apply font-extrabold;
}

.wc-btn {
  width: 115px;
  height: 37px;
}

.wc-btn svg {
  width: 10px;
  margin-left: 5px;
}